@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #24292d;
    color: #ffffff;
    font-family: Viga;
}
header {
    background:#ffffff;
    height: 110px;
    color: #24292d;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}
.score-board {
    border: #ffffff solid 3px;
    width: 400px;
    height: 100px;
    font-size: 30px;
    margin: 20px auto;
}
#score {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player {
    position: absolute;
    top: 25px;
    background: #ffffff;
    color: #24292d; 
    padding: 5px;
    border-radius: 5px;
}
.player1 {
    left: -45px;
}
.player2 {
    right: -65px;
}
#player1, #player2 {
    font-size: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.result {
    text-align: center;
    font-size: 35px;
}
#images {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    width: 100px;
    margin: 30px 10px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
}
.item:hover {
    cursor: pointer;
    background-color: #ffffff; 
}
.glow-green {
    border: 3px solid #036434;
}
.glow-green:hover {
    background-color: #0dac5c;
}
.glow-red {
    border: 3px solid #640303;
    background-color: #ac120d;  
}
.glow-draw {
    border: 3px solid #036164;
}
.glow-draw:hover {
    background-color: #a7f7f7;  
}
.last-quote {
    text-align: center;
    font-size: 29px;
    margin-top: 40px;
}
#iconFooter {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#github, #linkedin {
    width: 32px;
    margin: 5px;
}

#github:hover, #linkedin:hover {
    fill: red;
  }