@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #24292d;
    color: #ffffff;
    font-family: Viga;
}
header {
    background:#ffffff;
    color: #24292d;
    font-size: 30px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}
.score-board {
    border: #ffffff solid 3px;
    display: flex;
    justify-content: center ;
    margin: 2% 35%;
    font-size: 30px;
}
#score {
    position: relative;
    display: flex;
    align-items: center;
}
.player {
    position: absolute;
    top: 25px;
    background: #ffffff;
    color: #24292d; 
    padding: 5px;
    border-radius: 5px;
}
.player1 {
    left: -170px;
}
.player2 {
    right: -205px;
}
#player1, #player2 {
    font-size: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.result {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
#images {
    display: flex;
    justify-content: center;
}
.item {
    width: 100px;
    margin: 30px 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    transition: 1s;
}
.item:hover {
    cursor: pointer;
    background-color: #ffffff; 
}
.glow-green {
    border: 3px solid #036434;
    transition: 1s;
}
.glow-green:hover {
    background-color: #0dac5c;
    transition: 1s;
}
.glow-red {
    border: 3px solid #640303;
    background-color: #ac120d; 
    transition: 1s; 
}
.glow-draw {
    border: 3px solid #119ba0;
    transition: 1s;
}
.glow-draw:hover {
    background-color: #a7f7f7;  
    transition: 1s;
}
#resetGame {
    font-size: 20px;
    width: 300px;
    border: #ffffff solid 2px;
    border-radius: 20px;
    padding: 10px 10px; 
    color: #ffffff;
    background-color: #24292d;
    cursor: pointer;
    transition: 500ms;
}
#resetGame:hover {
    font-size: 20px;
}
#btn-icon {
    display: flex;
    justify-content: center;
}
.last-quote {
    display: flex;
    justify-content: center;
    font-size: 29px;
    margin-top: 40px;
}
#iconFooter {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#github, #linkedin {
    width: 32px;
    margin: 5px;
}

  @media (max-width: 600px) {
    header {
        padding-top: 20px;
        font-size: 16px;
        height: 80px;
    }
    .score-board {
        border: none;
        display: flex;
        font-size: 24px;
    }
    #player1, #player2 {
        font-size: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .player1, .player2 {
        position: initial;
        width: 120px;
        text-align: center;
    }
    .result {
        margin-top: 40px;
        font-size: 25px;
    }
  }